body {
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mood-orb {
    border-radius: 50%;
    transition: transform 0.3s ease, background-color 0.3s ease;
    width: 150px;
    height: 150px;
}

.mood-orb:hover {
    transform: scale(1.2);
}